* {
  box-sizing: border-box;
}

body {
  background-color: #666;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 2.5rem;
}

.converter {
  width: 300px;
  background-color: #999;
  padding: 20px;
}

.converter span {
  display: block;
}

.converter__select {
  width: 100%;
  height: 30px;
  padding-left: 5px;
  border-radius: 5px;
  outline: none;
}

.converter__input {
  width: 100%;
  height: 30px;
  margin-top: 30px;
  padding-left: 5px;
  border-radius: 5px;
  outline: none;
}

.converter__button {
  width: 100%;
  background-color: blue;
  color: #fff;
  margin-top: 15px;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.converter__button:hover {
  background-color: #005c99;
}
